<h1><%= @flat.name %></h1>
<h3><%= @flat.address %></h3>

<br>

<div class="d-flex justify-content-start">
  <div class="w-50 px-3">
    <div class="border border-info p-3">
      <div class="d-flex justify-content-around border-bottom border-info">
        <div>$<%= @flat.price_per_night %> per night</div>
        <div>Max. guests: <%= @flat.number_of_guests %></div>
      </div>

      <br>

      <p><%= @flat.description %></p>
    </div>

    <br>

    <div class="d-flex">
      <%=
        link_to "edit", edit_flat_path(@flat),
        class: "btn btn-sm btn-outline-secondary mx-2"
      %>
      <%= link_to "delete",
        flat_path(@flat),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "btn btn-sm btn-outline-danger mx-2"
      %>
    </div>
  </div>

  <div class="w-50 px-3">
  <%= image_tag @flat.image_url, height: "400px" %></div>
</div>
